blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
PyJWT
pyparsing
python-dateutil
requests
scikit-learn
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
